/* ==========================================================================
  Header
========================================================================== */

header {
  background: #fff;
  padding: 0 0 70px;
  z-index: 2;
  position: relative;
  .row {
    margin-bottom: 0;
    animation: fadeIn .2s .3s both;
  }

  @include breakpoint(medium) {
    padding: 0 0 30px;
  }
  @include breakpoint(small) {
    padding: 0 0 20px;
    .row {
      animation: none;
    }
  }
}

.logo {
  margin-top: 30px;
  display: block;
  float: left;
  text-align: center;
  span {
    margin-top: 10px;
    display: block;
    position: relative;
  }

  @include breakpoint(small) {
    width: 54%;
    span {
      margin-top: 3px;
    }
  }
}

.nav-main {
  @include oswald();
  text-transform: uppercase;
  font-size: 13px;
  float: right;
  ul {
    margin: 25px 190px 0 0;
    display: block;
  }
  li {
    display: inline-block;
    padding: 10px 15px;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        a {
          animation-delay: .5s + ($i * .03);
        }
      }
    }
  }
  a {
    animation: fadeIn .2s .5s both;
    &:not(.btn) {
      color: $darkGray;
      padding: 10px 0 2px;
      border-bottom: 4px solid transparent;
      &:hover,
      &:focus,
      &.active {
        border-bottom: 4px solid $yellow;
      }
    }
    &.highlight,
    &.btn {
      color: $green;
    }
    &.btn {
      position: relative;
      top: -2px;
      margin-right: -20px;
      margin-left: -10px;
      font-size: 13px;
      &:hover,
      &:focus {
        color: #fff;
      }
      &.active {
        border-bottom: 2px solid $yellow;
      }
    }
    &.tag {
      float: right;
      display: block;
      color: #fff;
      background: $green;
      border-bottom: 7px solid #fff;
      margin-top: -80px;
      padding: 42px 20px 8px;
      &:hover,
      &:focus,
      &.active {
        background: darken($green, 10%);
        border-bottom: 7px solid $yellow;
      }
    }
  }

  .dropdown {
    position: relative;
    border: 1px solid transparent;
    border-bottom: none;
    transition: border .2s ease;
    &:after {
      content: " ";
      display: block;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
    }
    &:hover,
    &:focus {
      border: 1px solid #cfcfcf;
      border-bottom: none;
      .subnav {
        animation: dropdownIn .2s both;
        visibility: visible;
        opacity: 1;
      }
      > a {
        color: $green;
        border-color: transparent;
      }
    }
  }

  .subnav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -1px;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    border: 1px solid #cfcfcf;
    background: #fff;
    text-transform: none;
    width: 220%;
    transform: translatez(0);
    animation: dropdownOut .2s both;
    @include miller();
    li {
      margin: 15px 0 5px;
      padding: 0 0 5px;
      display: block;
      border-bottom: 1px solid $green;
      &:first-of-type {
        margin-top: 5px;
      }
      &:last-of-type {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    a {
      &:not(.btn) {
        padding: 0;
        border: none;
        &:hover,
        &:focus,
        &.active {
          border: none;
          color: $green;
        }
      }
      &.btn {
        display: block;
        margin: 15px 0 0;
      }
    }
  }

  @include breakpoint(large) {
    ul {
      margin-right: 160px;
    }
    li {
      padding: 10px 10px;
    }
    a {
      &.btn {
        margin-left: -10px;
        padding-right: 20px;
        padding-left: 20px;
      }
      &.tag {
        padding: 41px 10px 8px;
      }
    }
    .subnav {
      width: 250%;
    }
  }

  @include breakpoint(medium) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(200px);
    width: 200px;
    padding: 50px 20px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .show-mobile-nav & {
      opacity: 1;
    }
    ul {
      margin: 0;
    }
    li {
      display: block;
      padding: 0;
      margin: 0 0 25px;
    }
    a {
      &:not(.btn) {
        color: #fff;
      }
      &.btn {
        margin: 0;
        display: block;
      }
      &.tag {
        margin: 0;
        float: none;
        padding: 20px 0;
        text-align: center;
        display: block;
      }
    }

    .dropdown {
      border: none;
      &:after {
        display: none;
      }
      &:hover,
      &:focus {
        border: none;
        .subnav {
          animation: none;
          visibility: visible;
          opacity: 1;
        }
      }
      a {
        &:hover,
        &:focus {
          color: #fff;
          border-bottom: 4px solid $yellow;
        }
      }
    }

    .subnav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      visibility: visible;
      animation: none;
      width: 220px;
      background: none;
      border: none;
      margin: 0;
      padding: 45px 20px;
      transform: translateX(400px);
      z-index: 1;
      background: $green;
      transition: transform 0.2s ease-in-out;
      li {
        margin: 0 0 15px;
        padding: 0;
      }
      a {
        color: #fff;
        &:not(.btn) {
          color: #fff;
          font-size: 13px;
          @include oswald();
          &:hover,
          &:focus {
            color: $purple;
          }
        }
      }

      .show-mobile-sub-nav & {
        transform: translateX(40px);
      }
    }

  }
  @include breakpoint(small) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(200px);
    width: 200px;
    padding: 50px 20px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .show-mobile-nav & {
      opacity: 1;
    }
    ul {
      margin: 0;
    }
    li {
      display: block;
      padding: 0;
      margin: 0 0 25px;
    }
    a {
      &:not(.btn) {
        color: #fff;
      }
      &.btn {
        margin: 0;
        display: block;
      }
      &.tag {
        margin: 0;
        float: none;
        padding: 20px 0;
        text-align: center;
        display: block;
      }
    }
    .dropdown {
      border: none;
      &:after {
        display: none;
      }
      &:hover,
      &:focus {
        border: none;
        .subnav {
          animation: none;
          visibility: visible;
          opacity: 1;
        }
      }
      a {
        &:hover,
        &:focus {
          color: #fff;
          border-bottom: 4px solid $yellow;
        }
      }
    }

    .subnav {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      visibility: visible;
      animation: none;
      width: 220px;
      background: none;
      border: none;
      margin: 0;
      padding: 45px 20px;
      transform: translateX(400px);
      z-index: 1;
      background: $green;
      transition: transform 0.2s ease-in-out;
      li {
        margin: 0 0 15px;
        padding: 0;
      }
      a {
        color: #fff;
        &:not(.btn) {
          color: #fff;
          font-size: 13px;
          @include oswald();
          &:hover,
          &:focus,
          &.active {
            color: $purple;
          }
        }
      }

      .show-mobile-sub-nav & {
        transform: translateX(40px);
      }
    }
  }
}


.mobile-nav {
  display: none;
  float: right;
  color: $darkGray;
  font-size: 28px;
  padding: 20px 20px 0;
  margin: 20px -20px 0 0;
  position: relative;
  &:hover,
  &:focus {
    color: $green;
  }

  .show-mobile-nav & {
    i {
      &:before {
        content: "\f00d";
      }
    }
  }

  @include breakpoint(medium) {
    display: block;
  }
  @include breakpoint(small) {
    display: block;
    margin: 10px -10px 0 0;
  }
}