/* ==========================================================================
  Header
========================================================================== */

header {
  background: #fff;
  padding: 0 0 70px;
  z-index: 2;
  position: relative;
  .row {
    margin-bottom: 0;
    animation: fadeIn .2s .3s both;
  }
}

.logo {
  margin-top: 30px;
  display: block;
  float: left;
  text-align: center;
  span {
    margin-top: 10px;
    display: block;
    position: relative;
  }
}

.nav-main {
  @include oswald();
  text-transform: uppercase;
  font-size: 13px;
  float: right;
  ul {
    margin: 25px 190px 0 0;
    display: block;
  }
  li {
    display: inline-block;
    padding: 10px 15px;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        a {
          animation-delay: .5s + ($i * .03);
        }
      }
    }
  }
  a {
    animation: fadeIn .2s .5s both;
    &:not(.btn) {
      color: $darkGray;
      padding: 10px 0 2px;
      border-bottom: 4px solid transparent;
      &:hover,
      &:focus,
      &.active {
        border-bottom: 4px solid $yellow;
      }
    }
    &.highlight,
    &.btn {
      color: $green;
    }
    &.btn {
      position: relative;
      top: -2px;
      margin-right: -20px;
      margin-left: -10px;
      font-size: 13px;
      &:hover,
      &:focus {
        color: #fff;
      }
      &.active {
        border-bottom: 2px solid $yellow;
      }
    }
    &.tag {
      float: right;
      display: block;
      color: #fff;
      background: $green;
      border-bottom: 7px solid #fff;
      margin-top: -80px;
      padding: 42px 20px 8px;
      &:hover,
      &:focus,
      &.active {
        background: darken($green, 10%);
        border-bottom: 7px solid $yellow;
      }
    }
  }

  .dropdown {
    position: relative;
    border: 1px solid transparent;
    border-bottom: none;
    transition: border .2s ease;
    &:after {
      content: " ";
      display: block;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
    }
    &:hover,
    &:focus {
      border: 1px solid #cfcfcf;
      border-bottom: none;
      .subnav {
        animation: dropdownIn .2s both;
        visibility: visible;
        opacity: 1;
      }
      > a {
        color: $green;
        border-color: transparent;
      }
    }
  }

  .subnav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -1px;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    border: 1px solid #cfcfcf;
    background: #fff;
    font-size: 12px;
    text-transform: none;
    width: 220%;
    transform: translatez(0);
    animation: dropdownOut .2s both;
    li {
      margin: 15px 0 5px;
      padding: 0 0 5px;
      display: block;
      border-bottom: 1px solid $green;
      &:first-of-type {
        margin-top: 5px;
      }
      &:last-of-type {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    a {
      &:not(.btn) {
        padding: 0;
        border: none;
        &:hover,
        &:focus {
          border: none;
          color: $green;
        }
      }
      &.btn {
        display: block;
        margin: 15px 0 0;
      }
    }
  }

  @include breakpoint(large) {
    ul {
      margin-right: 160px;
    }
    li {
      padding: 10px 10px;
    }
    a {
      &.btn {
        margin-left: -10px;
        padding-right: 20px;
        padding-left: 20px;
      }
      &.tag {
        padding: 41px 10px 8px;
      }
    }
    .subnav {
      width: 250%;
    }
  }
}