/* ==========================================================================
  Main
========================================================================== */


section {
  background: #fff;
  .container {
    padding-bottom: 50px;
  }
  .row {
    animation: fadeIn .3s both;
    @for $i from 1 through 14 {
      &:nth-child(#{$i}n) {
        animation-delay: .6s + ($i * .07);
      }
    }
  }

  @include breakpoint(medium) {
    .row {
      animation: none;
    }
  }

  @include breakpoint(small) {
    .container {
      padding-bottom: 20px;
    }
    .row {
      animation: none;
    }
  }
}