/* ==========================================================================
  Variables
========================================================================== */

$padding: 20px;
$margin: 40px;

$green: #63BF82;
$lightGreen: #b5ddbf;
$purple: #2A2539;
$yellow: #FCDE00;
$paleYellow: #fcf7ec;
$orange: #f3a536;
$darkGray: #2A2539;
$lightGray: #A5A5A5;

$textColor: $darkGray;
$linkColor: $green;
$linkHover: $darkGray;

@mixin oswald() {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin playfairBold() {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
}

@mixin playfairBlack() {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
}

@mixin ptSerif() {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
}

@mixin ptSerifBold() {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
}

@mixin ptSerifCaption() {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: 400;
}



