/* ==========================================================================
  Listing Posted
========================================================================== */


.listing-posted {
  background: $paleYellow url(/img/structure/border-bottom.png) repeat-x center 99%;
  padding: 90px 20px 100px;
  position: relative;
  margin-top: 20px;
  .corner-tag {
    padding: 12px 30px;
    text-align: center;
    background: $green;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    @include oswald();
  }
  .btn {
    position: absolute;
    right: 0;
    bottom: 50px;
  }
}

.listing-details {
  margin-bottom: 40px;
  li {
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    @include clearfix();
    &:last-of-type {
      margin: 0;
    }
  }
  h4 {
    @include oswald();
    margin: 0 0 12px;
  }
  p {
    margin: 0;
  }
  .details {
    float: right;
    width: 70%;
    padding-left: 40px;
  }
  .img-wrap {
    float: left;
    width: 26%;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}