/* ==========================================================================
  Listing Posted
========================================================================== */


.listing-posted {
  background: $paleYellow url(/img/structure/border-bottom.png) repeat-x center 99%;
  padding: 60px 40px;
  position: relative;
  margin-top: 20px;
  .tag {
    padding: 10px 0 20px;
    text-align: center;
    background: $green;
    color: #fff;
    width: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin: 0 0 0 -25%;
  }
  .btn {
    display: block;
    margin: 0 auto;
    width: 30%;
  }
}

.listing-details {
  padding-left: 85px;
  margin-bottom: 40px;
  li {
    margin: 0 0 15px;
    &:last-of-type {
      margin: 0;
    }
  }
  h4 {
    @include oswald();
    span {
      @include millerBold();
      font-size: 50px;
      margin: 0 10px 0 -85px;
    }
  }
  .details {
    background: #fff;
    padding: 15px;
    margin: 10px 0 0 0;
    p {
      margin: 0;
    }
  }
}