/* ==========================================================================
  Search
========================================================================== */


.search-results-list {
  display: block;
  width: 100%;
  padding-right: 10px;
  min-height: 800px;
  > li {
    display: block;
    width: 100%;
    border: 1px solid $darkGray;
    position: relative;
    @include clearfix();
    margin: 0 0 15px;
    transition: border .3s ease-in-out;
    &:hover {
      border-color: $orange;
      .img-wrap {
        border-color: $orange;
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid $darkGray;
    transition: border .3s ease-in-out;
    width: 20%;
    overflow: hidden;
  }
  .content-wrap {
    padding: 10px 20px;
    width: 80%;
    margin-left: 20%;
    p {
      width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .meta {
    position: absolute;
    top: 0;
    right: 0;
    li {
      display: inline-block;
      margin: 0 0 0 7px;
      font-size: 12px;
      @include millerBold();
      &.count {
        background: $green;
        color: #fff;
        padding: 4px 8px;
        font-size: 18px;
        &.anywhere {
          background: $orange;
        }
      }
    }
  }
  h5 {
    @include millerBold();
    position: relative;
    margin: 10px 0 10px 0;
    &:after {
      content: " ";
      display: block;
      width: 30px;
      height: 2px;
      background: $green;
      margin: 10px 0 0 0;
    }
  }
  p {
    font-size: 16px;
    margin: 0 0 15px;
  }
  a {
    @include oswald();
    font-size: 12px;
    color: $darkGray;
    &:hover,
    &:focus {
      color: $green;
    }
  }

  @include breakpoint(large) {
    h5 {
      margin: 5px 0 8px;
      &:after {
        display: none;
      }
    }
    p {
      margin: 0 0 10px;
    }
  }
  @include breakpoint(medium) {
    h5 {
      margin: 0 0 3px;
      &:after {
        display: none;
      }
    }
    p {
      margin: 0 0 5px;
    }
  }
  @include breakpoint(small) {
    padding-right: 0;
    > li {
      display: flex;
      flex-direction: column-reverse;
    }
    .img-wrap {
      width: 100%;
      position: static;
      border: none;
      padding: 0 10px 10px;
      img {
        margin: auto;
        display: block;
      }
    }
    .content-wrap {
      width: 100%;
      margin-left: 0;
    }
    h5 {
      margin: 0 0 7px;
      &:after {
        display: none;
      }
    }
    p {
      margin: 0 0 7px;
    }
  }
}

.form-scroll-parent {
  height: 81px;

  @include breakpoint(small) {
    height: auto;
  }
}

.form-scroll {
  position: relative;
  background: #fff;
  z-index: 100;
  width: 1140px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  &.sticky {
    top: 20px;
    position: fixed;
    &:before,
    &:after {
      content: " ";
      display: block;
      width: 100%;
      background: #fff;
      position: absolute;
      height: 40px;
      right: 0;
      top: -40px;
      left: 0;
    }
    &:after {
      height: 27px;
      top: auto;
      bottom: -27px;
    }
  }

  @include breakpoint(large) {
    width: 950px;
  }
  @include breakpoint(medium) {
    width: 730px;
  }
  @include breakpoint(small) {
    width: 100%;
  }
}

.map-wrap {
  top: 100px;
  width: 458px;
  &.affix {
    position: fixed;
  }
  &.affix-bottom {
    top: auto;
    position: relative;
  }

  @include breakpoint(large) {
    width: 383px;
  }
  @include breakpoint(medium) {
    width: 292px;
  }
  @include breakpoint(small) {
    display: none;
  }
}

.search-results-map-key {
  margin: 15px 0 0;
  border: 1px solid $darkGray;
  padding: 15px;
  font-size: 12px;
  ul {
    margin: 0;
  }
  li {
    margin: 0 0 7px;
    &:last-of-type {
      margin: 0;
    }
    i {
      margin: 0 7px 0 0;
      font-size: 16px;
    }
  }
}

.nav-pagination {
  margin-top: 40px;
  li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  a {
    display: block;
    border: 1px solid $green;
    width: 25px;
    height: 25px;
    text-align: center;
    &:hover,
    &:focus,
    &.current {
      color: $darkGray;
      border-color: $darkGray;
    }
    &.prev,
    &.next {
      padding-right: 10px;
      padding-left: 10px;
      width: auto;
    }
  }

  @include breakpoint(small) {
    position: relative;
    li {
      margin: 0;
    }
    a {
      display: none;
      &.prev,
      &.next {
        display: block;
        padding: 0;
        width: auto;
        width: 49%;
        position: absolute;
        left: 0;
      }
      &.next {
        right: 0;
        left: auto;
      }
    }
  }
}