/* ==========================================================================
  Classes
========================================================================== */


/**** **** **** **** ****
  Lists
**** **** **** **** ****/

.list-inline {
  li {
    display: inline-block;
  }
}

.list-spacer-horz {
  li {
    margin: 0 20px;
  }
}

.list-spacer-horz--2x {
  li {
    margin: 0 40px;
  }
}

.list-middle {
  li {
    vertical-align: middle;
  }
}


/**** **** **** **** ****
  Borders
**** **** **** **** ****/

.border-top {
  border-top: 1px solid $darkGray;
}

.inline-border {
  @include oswald();
  color: $darkGray;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 40%;
    height: 1px;
    background: $darkGray;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
  }
  &:after {
    right: 0;
    left: auto;
  }
}

.border-diamond {
  position: relative;
  &:after {
    content: " ";
    display: block;
    width: 68px;
    height: 20px;
    background: url(/img/icons/diamonds-three.svg) no-repeat center center;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -34px;
  }
  .no-svg {
    &:after {
      background-image: url(/img/icons/diamonds-three.png);
    }
  }
}

/**** **** **** **** ****
  Floats/Order
**** **** **** **** ****/

.left {
  float: left;
}

.right {
  float: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}


/**** **** **** **** ****
  Text
**** **** **** **** ****/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-dark-gray {
  color: $darkGray;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.text-muted {
  color: #9B9B9B;
}

.miller {
  @include miller();
}

.oswald {
  @include oswald();
}


/**** **** **** **** ****
  Vertical Centering
**** **** **** **** ****/

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flex-v-align {
  align-items: center;
}

.flex-b-align {
  align-items: flex-end;
}

.middle {
  vertical-align: middle;
}


/**** **** **** **** ****
  Hide
**** **** **** **** ****/

.hide {
  display: none;
  visibility: hidden;
}

.tablet-hide {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }
}

.mobile-hide {
  @include breakpoint(small) {
    display: none;
    visibility: hidden;
  }
}


/**** **** **** **** ****
  Utilites
**** **** **** **** ****/

.break {
  display: block;

  @include breakpoint(large) {
    display: inline;
  }
  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.clearfix {
  @include clearfix();
}

.on-top {
  position: relative;
  z-index: 1000;
}