/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
}

textarea,
input {
  @include placeholder(#ccc);
  border: none;
  outline: 0;
  transition: all .2s ease-in-out;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.placeholder {
  .placeholder & {
    display: none;
  }
}

input:not(.btn),
textarea {
  border: 1px solid $darkGray;
  display: block;
  padding: 15px 20px;
  resize: none;
  &:hover,
  &:focus {
    border: 1px solid $lightGray;
  }
}

.form-row {
  @include clearfix();
  margin: 0 0 30px;
  &.form-row-bottom {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
  }
  .spacer {
    margin: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
  }
  .radio-list {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 20px;
    }
    label {
      width: auto;
      display: inline;
      margin: 0 7px 0 0;
      bottom: -3px;
      position: relative;
    }
    input[type=radio] {
      width: auto;
      border-radius: 0;
      -webkit-appearance: none;
      display: block;
      background: #fff;
      padding: 0;
      width: 28px;
      height: 28px;
      cursor: pointer;
      position: relative;
      &:after {
        position: absolute;
        content: " ";
        display: none;
        width: 32px;
        height: 32px;
        left: 1px;
        bottom: 2px;
        background: url(/img/icons/check.svg) no-repeat center center;
        background-size: 100%;
        animation: fadeIn .2s both;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
      .no-svg & {
        &:after {
          background: url(/img/icons/check.png) no-repeat center center;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.form-general {
  .one-third {
    width: 33.33333%;
    float: left;
    &:first-of-type {
      margin: 0;
      .chosen-single {
        border-left: 1px solid $darkGray;
        border-right: none;
      }
      .chosen-with-drop {
        .chosen-drop {
          width: auto;
          right: -1px;
        }
      }
    }
    &.border {
      border: 1px solid $darkGray;
      border-left: none;
      padding: 6px 25px;
      .btn {
        padding: 6px;
      }
    }
    input,
    .select-wrap {
      width: 100%;
    }
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  label {
    display: block;
    width: 20%;
    margin: 15px 2% 0 0;
    float: left;
    @include oswald();
  }
  input,
  textarea {
    width: 78%;
    float: right;
  }
  .select-wrap {
    position: relative;
    float: left;
    width: 50%;
    background: #fff;
    margin-right: 20px;
    .inline-label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      padding: 10px 15px;
      margin: 0;
      color: $orange;
      font-size: 22px;
      display: block;
      border-left: 1px solid $darkGray;
      z-index: 0;
      width: auto;
      transition: border .2s ease-in-out;
      background: #fff;
      i {
        transition: transform .2s ease-in-out;
      }
    }
  }
  select {
    padding: 15px 20px;
    background: transparent;
    border: 1px solid $darkGray;
    -webkit-appearance: none;
    border-radius: 0px;
    font-size: 14px;
    color: #ccc;
    width: 100%;
    @include oswald();
    transition: border .2s ease-in-out;
    position: relative;
    z-index: 1;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    &:hover,
    &:focus {
      border: 1px solid $lightGray;
      outline: 0;
      + .inline-label {
        border-left: 1px solid $lightGray;
      }
    }
    &:hover {
      + .inline-label {
        i {
          transform: translateY(3px);
        }
      }
    }
  }
  .thumbnails {
    margin: 0;
    li {
      display: inline-block;
    }
  }
  .form-review {
    background: #fff;
    padding: 30px;
    p {
      text-align: left;
      font-size: 16px;
    }
    .subject {
      border-bottom: 1px solid $green;
      padding: 0 0 10px;
      margin: 0 0 10px;
    }
    .zipcode {
      @include oswald();
      color: $green;
      font-size: 12px;
      margin: 20px 0;
      li {
        margin: 0 0 10px;
      }
      span {
        @include miller();
        color: $darkGray;
        font-size: 16px;
        margin: 0 0 0 10px;
      }
    }
  }

  @include breakpoint(large) {
    label {
      font-size: 14px;
    }
  }
}

.form-styled {
  background: $paleYellow;
  padding: 40px;
  text-align: center;
  display: block;
  position: relative;
  .inner {
    border: 1px solid $darkGray;
    outline: 1px solid $darkGray;
    outline-offset: 10px;
    padding: 40px;
  }
  .form-row {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h3 {
    @include miller();
  }
  label {
    @include millerItalic();
    margin: 0 0 5px;
    display: block;
  }
  input {
    margin: 0 auto;
    width: 50%;
    &.btn {
      padding: 15px 0;
    }
  }
  textarea {
    margin: 0 auto;
    width: 90%;
  }

  &.form-green {
    background: $lightGreen;
    .form-row {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }
    h3 {
      color: $darkGray;
      font-style: normal;
      margin: 0;
    }
    label {
      top: 22px;
      left: 15px;
      position: absolute;
      @include oswald();
    }
    input {
      &:not(.btn) {
        border: 1px solid #fff;
        width: 100%;
        padding: 22px 20px 22px 130px;
        &:hover,
        &:focus {
          border-color: $green;
        }
      }
    }
  }
}

.form-modal {
  h5, label {
    @include oswald();
    color: $darkGray;
    text-align: center;
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
  }
  h6 {
    @include oswald();
    margin: 10px 0 0 16%;
  }
  input,
  textarea {
    width: 100%;
    &[type=submit] {
      width: 40%;
      margin: auto;
      display: block;
    }
    &.btn {
      padding: 15px 0;
    }
  }
  .form-row {
    margin-bottom: 25px;
  }
  .form-el-wrap {
    label {
      color: $green;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      width: 15%;
      margin: 0;
      text-align: right;
      padding-right: 10px;
    }
    input {
      display: inline-block;
      vertical-align: middle;
      width: 84%;
    }
  }
  .inner-row {
    margin: 0 0 5px;
  }
}

.form-login {
  padding-right: 130px;
  padding-left: 130px;
  text-align: center;
  label {
    @include millerItalic();
    margin: 0 0 5px;
    display: block;
    text-transform: none;
    font-size: 16px;
  }
  input {
    &.btn {
      width: 100%;
    }
  }
}

.form-payment {
  .radio-list {
    img {
      vertical-align: top;
    }
    label {
      display: block;
      bottom: auto;
      height: 40px;
      margin: 10px auto 15px;
    }
    input {
      &[type=radio] {
        border-radius: 100%;
        background: $paleYellow;
        border: 2px solid $green;
        margin: 0 auto;
      }
    }
  }
}




