/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
}

textarea,
input {
  @include placeholder(#ccc);
  border: none;
  outline: 0;
  transition: all .2s ease-in-out;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.placeholder {
  .placeholder & {
    display: none;
  }
}

input:not(.btn),
textarea {
  border: 1px solid $darkGray;
  display: block;
  padding: 15px 20px;
  resize: none;
  &:hover,
  &:focus {
    border: 1px solid $lightGray;
  }
}

.form-row {
  @include clearfix();
  margin: 0 0 30px;
  &.form-row-bottom {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
  }
  .spacer {
    margin: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
  }
  .radio-list {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 20px;
    }
    label {
      width: auto;
      display: inline;
      margin: 0 7px 0 0;
      bottom: -3px;
      position: relative;
    }
    input[type=radio] {
      width: auto;
      border-radius: 0;
      -webkit-appearance: none;
      display: block;
      background: #fff;
      padding: 0;
      width: 28px;
      height: 28px;
      cursor: pointer;
      position: relative;
      &:after {
        position: absolute;
        content: " ";
        display: none;
        width: 32px;
        height: 32px;
        left: 1px;
        bottom: 2px;
        background: url(/img/icons/check.svg) no-repeat center center;
        background-size: 100%;
        animation: fadeIn .2s both;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
      .no-svg & {
        &:after {
          background: url(/img/icons/check.png) no-repeat center center;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  label {
    &.error {
      color: #B22A26;
      font-size: 12px;
      animation: growHeight .8s ease both;
      margin: 2px 0 0;
      @include miller();
      overflow: hidden;
    }
  }

  @include breakpoint(small) {
    &.form-row-bottom {
      position: static;
      bottom: auto;
    }
  }
}

.form-general {
  .one-third {
    width: 33.33333%;
    float: left;
    &.border {
      border: 1px solid $darkGray;
      border-left: none;
      padding: 6px 25px;
      .btn {
        padding: 6px;
      }
    }
    input,
    .select-wrap {
      width: 100%;
    }
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  label {
    display: block;
    width: 20%;
    margin: 15px 2% 0 0;
    float: left;
    @include oswald();
  }
  input,
  textarea {
    width: 78%;
    float: right;
  }
  .select-wrap {
    position: relative;
    float: left;
    width: 50%;
    background: #fff;
    margin-right: 20px;
    .inline-label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      padding: 10px 15px;
      margin: 0;
      color: $orange;
      font-size: 22px;
      display: block;
      border-left: 1px solid $darkGray;
      z-index: 0;
      width: auto;
      transition: border .2s ease-in-out;
      background: #fff;
      i {
        transition: transform .2s ease-in-out;
      }
    }
  }
  select {
    padding: 15px 20px;
    background: transparent;
    border: 1px solid $darkGray;
    -webkit-appearance: none;
    border-radius: 0px;
    font-size: 14px;
    color: #ccc;
    width: 100%;
    @include oswald();
    transition: border .2s ease-in-out;
    position: relative;
    z-index: 1;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    &:hover,
    &:focus {
      border: 1px solid $lightGray;
      outline: 0;
      + .inline-label {
        border-left: 1px solid $lightGray;
      }
    }
    &:hover {
      + .inline-label {
        i {
          transform: translateY(3px);
        }
      }
    }
  }
  .thumbnails {
    margin: 30px 0 0;
    display: block;
    @include clearfix();
    > li {
      display: block;
      float: left;
      width: 144px;
      height: 144px;
      margin: 0 11px 0 0;
      border: 1px solid $lightGray;
      padding: 5px;
      position: relative;
      &:last-of-type {
        margin: 0;
      }
      &.empty {
        &:after,
        &:before {
          content: " ";
          display: block;
          width: 1px;
          height: 200px;
          background: $lightGray;
          position: absolute;
          top: -29px;
          right: 50%;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .photo-settings {
    font-size: 13px;
    text-transform: uppercase;
    margin: 12px 0 0 0;
    @include miller();
    li {
      display: block;
      margin: 0 0 3px 0;
    }
    input, label {
      @include miller();
      display: inline-block;
      width: auto;
      float: none;
      color: $green;
      cursor: pointer;
    }
    label {
      transition: color .2s ease-in-out;
      &:hover,
      &:focus {
        color: $darkGray;
      }
    }
    input, i {
      margin: 0 4px 0 0;
    }
    i {
      font-size: 16px;
    }
    input {
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid $darkGray;
      width: 14px;
      height: 14px;
      padding: 0;
      position: relative;
      bottom: -2px;
      &:after {
        position: absolute;
        content: " ";
        display: none;
        width: 20px;
        height: 20px;
        left: -4px;
        bottom: 1px;
        background: url(/img/icons/check.svg) no-repeat center center;
        background-size: 20px;
        animation: fadeIn .2s both;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
      .no-svg & {
        &:after {
          background: url(/img/icons/check.png) no-repeat center center;
          background-size: 20px;
        }
      }
    }
  }
  .form-review {
    background: #fff;
    padding: 30px;
    p {
      text-align: left;
      font-size: 16px;
    }
    .subject {
      border-bottom: 1px solid $green;
      padding: 0 0 10px;
      margin: 0 0 10px;
    }
    .zipcode {
      @include oswald();
      color: $green;
      font-size: 12px;
      margin: 20px 0;
      li {
        margin: 0 0 10px;
      }
      span {
        @include miller();
        color: $darkGray;
        font-size: 16px;
        margin: 0 0 0 10px;
      }
    }
  }

  @include breakpoint(large) {
    label {
      font-size: 14px;
    }
  }

  @include breakpoint(small) {
    .select-wrap {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
    textarea,
    input {
      width: 100%;
    }
    label {
      font-size: 12px;
      width: 100%;
      padding: 0 0 10px;
    }
    .thumbnails {
      li {
        width: 49%;
        height: auto;
        margin: 0 0 2%;
        float: left;
        &:nth-of-type(even) {
          float: right;
        }
        &.empty {
          height: 144px;
          overflow: hidden;
          &:before,
          &:after {
            //height: 200px;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .photo-settings {
      margin: 0;
      padding: 7px 0 0;
      li {
        display: block;
        width: 100%;
        height: auto;
        float: none;
      }
      label {
        margin: 0;
        padding: 0;
      }
    }
    .form-review {
      padding: 10px;
    }
  }
}

.form-styled {
  background: $paleYellow;
  padding: 25px;
  text-align: center;
  display: block;
  position: relative;
  .inner {
    border: 1px solid $darkGray;
    outline: 1px solid $darkGray;
    outline-offset: 10px;
    padding: 40px;
  }
  .form-row {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .input-wrap {
    padding: 0;
    width: 100%;
    input {
      display: inline-block;
      vertical-align: middle;
      width: 70%;
      &.btn {
        width: 25%;
        padding: 13px 0;
        margin-left: 10px;
      }
    }
  }
  label {
    @include millerItalic();
    margin: 0 0 5px;
    display: block;
  }
  input {
    margin: 0 auto;
    width: 50%;
    &.btn {
      padding: 15px 0;
    }
  }
  .btn {
    width: 50%;
    padding: 15px 0;
  }
  textarea {
    margin: 0 auto;
    width: 90%;
  }

  &.form-green {
    background: $lightGreen;
    .form-row {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }
    h3 {
      color: $darkGray;
      font-style: normal;
      margin: 0;
    }
    label {
      top: 20px;
      left: 15px;
      position: absolute;
      @include oswald();
      &.error {
        position: relative;
        top: auto;
        left: auto;
        @include miller();
      }
    }
    input {
      &:not(.btn) {
        border: 1px solid #fff;
        width: 100%;
        padding: 20px 20px 20px 130px;
        &:hover,
        &:focus {
          border-color: $green;
        }
      }
    }
  }
  .fa-circle {
    position: absolute;
    font-size: 7px;
  }
  .dot-1 {
    top: 32px;
    left: 32px;
  }
  .dot-2 {
    top: 32px;
    right: 32px;
  }
  .dot-3 {
    bottom: 32px;
    left: 32px;
  }
  .dot-4 {
    bottom: 32px;
    right: 32px;
  }

  @include breakpoint(medium) {
    padding: 20px;
    .inner {
      padding: 20px;
    }
    input,
    textarea {
      width: 80%;
    }
    .btn {
      width: 70%;
    }
  }
  @include breakpoint(small) {
    padding: 20px;
    .inner {
      padding: 10px;
    }
    .input-wrap {
      input {
        width: 100%;
        margin-bottom: 10px;
        &.btn {
          width: 100%;
          margin: 0;
        }
      }
    }
    input,
    textarea {
      width: 100%;
    }
    .btn {
      width: 100%;
    }
    &.form-green {
      .inner {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .form-row {
        width: 100%;
      }
    }
  }
}

.form-modal {
  h5, label {
    @include oswald();
    color: $darkGray;
    text-align: center;
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
  }
  h6 {
    @include oswald();
    margin: 10px 0 0 16%;
  }
  input,
  textarea {
    width: 100%;
    &[type=submit] {
      width: 40%;
      margin: auto;
      display: block;
    }
    &.btn {
      padding: 15px 0;
    }
  }
  .form-row {
    margin-bottom: 25px;
  }
  .form-el-wrap {
    label {
      color: $green;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      width: 15%;
      margin: 0;
      text-align: right;
      padding-right: 10px;
      &.error {
        width: auto;
        color: #B22A26;
        text-align: center;
        display: block;
      }
    }
    input {
      display: inline-block;
      vertical-align: middle;
      width: 84%;
    }
  }
  .inner-row {
    margin: 0 0 5px;
  }
}

.form-login {
  padding-right: 130px;
  padding-left: 130px;
  text-align: center;
  label {
    @include millerItalic();
    margin: 0 0 5px;
    display: block;
    text-transform: none;
    font-size: 16px;
  }
  input {
    &.btn {
      width: 100%;
    }
  }
  .btn {
    width: 100%;
    padding: 13px 0;
  }

  @include breakpoint(large) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include breakpoint(medium) {
    padding-right: 10px;
    padding-left: 10px;
  }

  @include breakpoint(small) {
    padding-right: 0;
    padding-left: 0;
  }
}

.form-payment {
  .radio-list {
    position: relative;
    @include clearfix();
    img {
      vertical-align: top;
    }
    label {
      display: block;
      bottom: auto;
      height: 40px;
      margin: 10px auto 15px;
      &.error {
        position: absolute;
        right: 0;
        bottom: -25px;
        left: 0;
        text-align: center;
        height: auto;
        margin: 0;
        width: auto;
      }
    }
    input {
      &[type=radio] {
        border-radius: 100%;
        background: $paleYellow;
        border: 2px solid $green;
        margin: 0 auto;
      }
    }
  }
}

.form-search {
  .chosen-container-single {
    .chosen-single {
      font-size: 15px;
      height: 53px;
      backface-visibility: hidden;
    }
  }
  .select-wrap {
    width: 35%;
    height: 53px;
    display: block;
    float: left;
    margin: 0 0 0 -1px;
    &:nth-of-type(2n) {
      .chosen-single {
        border-left: none;
      }
      .chosen-with-drop {
        .chosen-drop {
          left: -1px;
          right: 0;
          width: auto;
        }
      }
    }
    input {
      @include oswald();
      font-size: 14px;
    }
  }
  .btn-wrap {
    width: 30%;
    height: 53px;
    float: left;
    border: 1px solid $darkGray;
    border-left: none;
    padding: 8px 10px;
  }
  .btn {
    display: block;
    margin: 0 auto;
    float: none;
    padding: 5px 75px;
  }
  .form-row {
    margin: 0;
  }

  @include breakpoint(medium) {
    .btn {
      display: block;
      width: 100%;
      padding: 5px 0;
    }
  }

  @include breakpoint(small) {
    .select-wrap,
    .btn-wrap {
      width: 100%;
      margin: 0 0 10px;
      float: none;
      height: auto;
    }
    .select-wrap {
      &:after {
        font-family: fontAwesome;
        content: "\f078";
        color: $orange;
        display: block;
        position: absolute;
        right: 0;
        bottom: 5px;
        width: 30px;
        height: 30px;
      }
    }
    .btn-wrap {
      border: 1px solid $darkGray;
    }
    label {
      margin: 0;
    }
  }
}

.form-settings {
  .form-row {
    margin-bottom: 15px;
    &.spacer {
      margin-top: 20px;
      margin-bottom: 45px;
    }
  }
  label {
    font-size: 14px;
    @include oswald();
    display: inline-block;
    width: 26%;
    vertical-align: middle;
  }
  input,
  textarea {
    background: $lightGreen;
    border: none;
    display: inline-block;
    width: 72%;
    vertical-align: middle;
    font-size: 18px;
    &:hover,
    &:focus {
      border: none;
      background: $green;
    }
  }
  .radio-list {
    display: inline-block;
    vertical-align: middle;
    label {
      margin: 0 0 2px;
    }
  }

  @include breakpoint(small) {
    .radio-list {
      padding-left: 20px;
      li {
        display: block;
        margin: 0;
        padding: 20px 0 0 0;
      }
    }
  }
}

input {
  &.check {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid $darkGray;
    width: 26px;
    height: 26px;
    padding: 0;
    position: relative;
    bottom: -2px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: " ";
      display: none;
      width: 30px;
      height: 30px;
      left: -4px;
      bottom: 1px;
      background: url(/img/icons/check.svg) no-repeat center center;
      background-size: 30px;
      animation: fadeIn .2s both;
    }
    &:checked {
      &:after {
        display: block;
      }
    }
  }
  &.ex-out {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid $darkGray;
    width: 26px;
    height: 26px;
    padding: 0;
    position: relative;
    bottom: -2px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: " ";
      display: none;
      width: 36px;
      height: 36px;
      left: -5px;
      bottom: -5px;
      background: url(/img/icons/ex-out.svg) no-repeat center center;
      background-size: 36px;
      animation: fadeIn .2s both;
    }
    &:checked {
      &:after {
        display: block;
      }
    }
  }
}

label {
  &.mobile-label {
    display: none;
  }

  @include breakpoint(small) {
    &.mobile-label {
      display: block;
    }
  }
}


