/* ==========================================================================
  Tables
========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
  background: $lightGreen;
  width: 100%;
  font-size: 15px;
  text-align: left;
  tr {
    border-bottom: 1px solid $green;
  }
  th {
    padding: 0 0 15px 20px;
    vertical-align: bottom;
  }
  td {
    padding: 13px 0 13px 20px;
    &:last-of-type {
      padding-right: 20px;
    }
  }
  .btn {
    font-size: 12px;
    padding: 8px 25px;
  }
}

thead {
  background: $paleYellow;
  @include oswald();
  font-size: 12px;
}


@include breakpoint(medium) {

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    > table {
      margin-bottom: 0;
      > thead,
      > tbody,
      > tfoot {
        > tr {
          th, td {
            white-space: nowrap;
          }
        }
      }
    }
    > .table-bordered {
      border: 0;
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
          &:last-child {
            > th,
            > td {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

}

@include breakpoint(small) {

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    > table {
      margin-bottom: 0;
      > thead,
      > tbody,
      > tfoot {
        > tr {
          th, td {
            white-space: nowrap;
          }
        }
      }
    }
    > .table-bordered {
      border: 0;
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
          &:last-child {
            > th,
            > td {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

}