/* ==========================================================================
  Animation - Defined
========================================================================== */


.animate {
  animation-fill-mode: both;
}


/**** **** **** **** **** ****
  Show Respond Form
**** **** **** **** **** ****/

@keyframes showRespondForm {
  0% {
    min-height: 0;
    height: 0;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    min-height: 577px;
    opacity: 1;
    height: auto;
  }
}



/**** **** **** **** **** ****
  Grow Height
**** **** **** **** **** ****/

@keyframes growHeight {
  0% {
    max-height: 0;
    transform: scale(0.1);
    opacity: 0;
  }
  20% {
    transform: scale(1);
  }
  100% {
    max-height: 50px;
    opacity: 1;
    transform: scale(1);
  }
}


/**** **** **** **** **** ****
  Dropdown Out
**** **** **** **** **** ****/

@keyframes dropdownOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}


/**** **** **** **** **** ****
  Dropdown In
**** **** **** **** **** ****/

@keyframes dropdownIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Fade In
**** **** **** **** **** ****/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/**** **** **** **** **** ****
  Fade Out
**** **** **** **** **** ****/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}