/* ==========================================================================
  Buttons
========================================================================== */


.btn {
  @include oswald();
  background: $yellow;
  color: $darkGray;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 11px 75px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  &:hover,
  &:focus {
    background: $orange;
    color: $darkGray;
  }
  &:focus,
  &:active {
    outline: 0;
  }

  @include breakpoint(large) {
    padding: 11px 60px;
  }
}

.btn-outline {
  background: none;
  border: 2px solid $lightGreen;
  padding: 6px 26px;
  &:hover,
  &:focus {
    border: 2px solid $green;
    background: none;
  }
}

.btn-full {
  width: 100%;
}