/* ==========================================================================
  Callout
========================================================================== */


.callout {
  position: relative;
  &.callout-right {
    h1 {
      right: 0;
      left: auto;
      text-align: right;
    }
    .btn {
      right: 16%;
      left: auto;
    }
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 65px;
    @include millerBold();
    color: $green;
    line-height: 1.25;
    z-index: 1;
    span {
      background: #f1f1f1;
      display: inline-block;
      margin: 0 0 8px;
      padding: 0 25px;
    }
  }
  .btn {
    position: absolute;
    top: 65%;
    left: 16%;
    font-size: 15px;
    z-index: 1;
  }

  @include breakpoint(large) {
    h1 {
      font-size: 50px;
      top: 15%;
    }
  }

  @include breakpoint(medium) {
    &.callout-right {
      .btn {
        right: 10%;
      }
    }
    h1 {
      font-size: 40px;
      top: 15%;
    }
    .btn {
      left: 10%;
    }
  }

  @include breakpoint(small) {
    img {
      order: 1;
    }
    &.callout-right {
      .btn {
        right: 0;
        width: 100%;
      }
       h1 {
        top: auto;
        bottom: 100px;
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    h1 {
      position: static;
      font-size: 25px;
      top: auto;
      bottom: auto;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0;
      span {
        display: inline-block;
        width: 100%;
        padding: 6px 0;
        margin: 0;
        line-height: 1;
      }
    }
    .btn {
      top: auto;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      position: static;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}