/* ==========================================================================
  Outline Box - offset border
========================================================================== */


.outline-box {
  border-top: 1px solid $darkGray;
  border-bottom: 1px solid $darkGray;
  position: relative;
  margin-bottom: 50px;
  backface-visibility: hidden;
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 1px;
    height: calc(100% + 20px);
    background: $darkGray;
    position: absolute;
    left: 10px;
    top: -10px;
    z-index: 2;
  }
  &:after {
    right: 10px;
    left: auto;
  }
  &.no-top {
    border-top: none;
    &:before,
    &:after {
      height: calc(100% + 15px);
      top: -3px;
    }
  }

  .no-csscalc & {
    &:before,
    &:after {
      height: 108%;
      top: -5px;
    }
    &.no-top {
      &:before,
      &:after {
        top: 0;
      }
    }
  }

  &.bg-color {
    .row {
      background-image: linear-gradient(
        to bottom,
        #fff,
        #fff 50%,
        $paleYellow 50%,
        $paleYellow 100%
      );
    }
  }

  .row {
    position: relative;
    margin-bottom: 0;
    &:before,
    &:after {
      content: " ";
      background: #fff;
      width: 15px;
      display: block;
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 0;
    }
    &:after {
      right: 0;
      left: auto;
    }
    h4 {
      margin: 70px 0 0 0;
    }
    .icon {
      margin: 20px auto -10px;
    }
    h1 {
      margin: 10px 0 0 0;
    }
    p {
      margin: 70px 0 0 0;
      padding: 0 50px;
    }
    .btn {
      margin: 40px 0 0 0;
      font-size: 15px;
    }
  }
  .tag {
    background: $green;
    color: #fff;
    text-transform: uppercase;
    @include oswald();
    font-size: 12px;
    padding: 8px 10px;
    position: absolute;
    text-align: center;
    &.bottom {
      bottom: -15px;
      left: 50%;
      margin-left: -105px;
      width: 210px;
    }
  }
  h4 {
    @include oswald();
    color: $darkGray;
    text-transform: uppercase;
  }

  .center-left {
    padding-right: 50px;
  }
  .center-right {
    padding-left: 50px;
  }

  @include breakpoint(large) {
    .row {
      &:before,
      &:after {
        width: 10px;
      }
      h4 {
        margin: 60px 0 0 0;
      }
      .icon {
        margin: 10px auto -5px;
      }
      h1 {
        margin: 0;
      }
      p {
        margin: 60px 0 0 0;
      }
      .btn {
        margin: 30px 0 0 0;
      }
    }
  }

  @include breakpoint(medium) {
    .row {
      &:before,
      &:after {
        width: 10px;
      }
      h4 {
        margin: 25px 0 0 0;
      }
      .icon {
        margin: 10px auto -5px;
      }
      h1 {
        margin: 0;
      }
      p {
        margin: 30px 0 0 0;
        padding: 0;
      }
      .btn {
        margin: 20px 0 0 0;
      }
    }
  }

  @include breakpoint(small) {
    .center-left,
    .center-right {
      padding: 0 50px 30px;
    }
    .row {
      &:before,
      &:after {
        width: 10px;
      }
      h4 {
        margin: 10px 0 0 0;
      }
      .icon {
        margin: 10px auto -5px;
      }
      h1 {
        margin: 0;
      }
      p {
        margin: 20px 0 0 0;
        padding: 0;
      }
      .btn {
        margin: 20px 0 0 0;
      }
    }
    &.bg-color {
      .row {
        background: $paleYellow;
      }
    }
  }
}