/* ==========================================================================
  Slider
========================================================================== */



.slider-full {
  overflow: hidden;
  position: relative;
  width: 100%;
  animation: fadeIn .2s .9s both;
  .slide {
    width: 1140px;
  }
}

.slider {
  width: 96%;
  margin: 0 auto;
  position: relative;
  padding: 10px 0 60px;

  @include breakpoint(small) {
    padding: 20px 0 40px;
    width: 90%;
  }
}

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  zoom: 1;
  @include clearfix();
  .slick-loading & {
      visibility: hidden;
  }
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
  align-items: center;
  img {
    display: block;
    margin: 0 auto;
  }
  &.slick-loading img {
    display: none;
  }
  .slick-initialized & {
    display: flex;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slide-wrap {
  display: block;
  padding-bottom: 20px;
  width: 70%;
  margin: auto;
  &:hover,
  &:focus {
    .circle {
      opacity: 1;
    }
  }
  .circle {
    display: block;
    width: 69px;
    height: 69px;
    border: 4px solid $green;
    border-radius: 100%;
    text-align: center;
    line-height: 63px;
    @include oswald();
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  h6 {
    text-align: center;
    color: $darkGray;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include breakpoint(medium) {
    width: 70%;
    .circle {
      opacity: 1;
    }
  }
  @include breakpoint(small) {
    width: 80%;
    padding-bottom: 30px;
    .circle {
      display: none;
    }
  }
}

.slide-next,
.slide-prev {
  display: block;
  width: 31px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -27px;
  opacity: .6;
  z-index: 11;
  &:hover,
  &:focus {
    opacity: 1;
    transform: translateX(-8px);
  }
  @include breakpoint(small) {
    opacity: 1;
    width: 22px;
    left: 15px;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
.slide-next {
  right: 30px;
  left: auto;
  &:hover,
  &:focus {
    transform: translateX(8px);
  }
  @include breakpoint(small) {
    right: 15px;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.slick-dots {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    &.slick-active {
      span {
        background: #fff;
      }
    }
  }
  span {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    overflow: hidden;
    background: #f1f1f1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    cursor: pointer;
    transition: background .25s ease-in-out;
    &:hover,
    &:focus {
      background: #fff;
    }
  }
}