/* ==========================================================================
  Tabs
========================================================================== */


.tab-nav {
  display: block;
  width: 100%;
  margin: 0;
  @include clearfix();
  li {
    display: block;
    float: left;
    width: 25%;
    border-right: 3px solid #fff;
    &:last-of-type {
      border: none;
    }
  }
  .tab-item {
    display: block;
    background: $green;
    color: $lightGreen;
    text-align: center;
    @include oswald();
    font-size: 12px;
    border-bottom: 9px solid $green;
    padding: 5px 0;
    height: 54px;
    &.active {
      color: $darkGray;
      border-bottom: 9px solid $yellow;
      span {
        color: #fff;
      }
    }
    span {
      @include millerBold();
      font-size: 25px;
      margin: 0 7px 0 0;
      transition: color .2s ease-in-out;
      color: $lightGreen;
    }
    &.tab-nav {
      font-size: 14px;
      padding: 15px 0 5px;
      &:hover,
      &:focus {
        color: $darkGray;
        border-bottom: 9px solid $yellow;
        span {
          color: #fff;
        }
      }
    }
  }

  @include breakpoint(large) {
    a {
      span {
        font-size: 22px;
        margin: 0 3px 0 0;
      }
    }
  }
  @include breakpoint(small) {
    li {
      .tab-item {
        height: 80px;
        font-size: 10px;
        text-align: center;
        padding: 5px 5px 0;
        span {
          font-size: 22px;
          margin: auto;
          display: block;
          width: 100%;
          text-align: center;
          height: auto;
          padding-bottom: 3px;
        }
        &.tab-nav {
          height: 60px;
        }
      }
    }
  }
}

.tab-wrap {
  background: #fcf7ec url(/img/structure/border-bottom.png) repeat-x center 99.5%;
  padding: 40px 40px 0;
  &.tab-wrap-account {
    background-image: none;
    padding: 20px 0;
  }
  .btn-next,
  .btn-post {
    float: right;
    margin-right: -40px;
  }
  .btn-edit {
    float: right;
    margin-right: 20px;
  }

  @include breakpoint(small) {
    padding: 30px 10px 0;
    .btn-next,
    .btn-post,
    .btn-edit {
      float: none;
      display: block;
      margin: 0;
    }
    .btn-post {
      margin-bottom: 10px;
    }
  }
}

.tab-wrap-account {
  .tab-content {
    position: relative;
    padding-bottom: 40px;
  }

  @include breakpoint(small) {
    .tab-content {
      padding-bottom: 0;
    }
  }
}

.tab {
  display: none;
  min-height: 615px;
  position: relative;
  //animation: fadeIn .2s both;
  &.active {
    display: block;
  }
  .tab-wrap-account & {
    min-height: 1px;
  }

  @include breakpoint(small) {
    padding-bottom: 20px;
    min-height: 0;
  }
}

.tab-header {
  text-align: center;
  padding: 0 0 20px;
  position: relative;
  h3 {
    font-size: 35px;
  }
  .btn-back {
    position: absolute;
    left: 0;
    background: $lightGreen;
    margin-left: 0;
    &:focus,
    &:hover {
      background: $green;
      color: #fff;
      &:before {
        background: $green;
      }
    }
    &:before {
      background: $lightGreen;
    }
  }

  @include breakpoint(small) {
    .btn-back {
      display: none;
    }
  }
}